<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\ShippingInformationManagement">
        <plugin name="AfterSalesProGr_AcsPoints::save_acs_point_in_quote" type="AfterSalesProGr\AcsPoints\Plugin\Checkout\ShippingInformationManagement"/>
    </type>
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="AfterSalesProGr_AcsPoints::add_acs_point_in_repository" type="AfterSalesProGr\AcsPoints\Plugin\OrderRepositoryAttribute" />
    </type>
</config>
